<div class="col-md-4 collection__item">
  <div class="collection__single d-block overflow-hidden">
    <a href="{{ collection.url }}" class="d-block replative" title="{{ collection.title }}">
      {% if collection.image %}
        <div class="relative d-block img-box mb-3 overflow-hidden">
          <img
            src="{{ collection.image | image_url : width: 500 }}"
            height=""
            width=""
            class="img-fluid absolute top-0 left-0 w-100 h-100"
            alt="{{ collection.title }}"
          >
        </div>
      {% endif %}
      <div class="collection__info">
        <h6 class="card-title uppercase mb-2">{{ collection.title }}</h6>
        <div class="count">{{ collection.all_products_count }} products</div>
        <!-- <span class="shop-btn">{{ se.coll_btn }}</span> -->
      </div>
    </a>
  </div>
</div>
