<div class="col-md-4 collection__item">
  <div class="collection__single d-block overflow-hidden">
    <a href="{{ collection.url }}" class="d-block relative" title="{{ collection.title }}">
      {% if collection.image %}
        <div class="relative d-block img-box mb-3 overflow-hidden">
          <img
            src="{{ collection.image | image_url : width: 500 }}"
            height=""
            width=""
            class="img-fluid absolute top-0 left-0 w-100 h-100"
            alt="{{ collection.title }}"
          >
        </div>
      {% endif %}
      <h6 class="card-title uppercase mb-3 absolute z-index-1 m-0 text-center">
        <span class="d-inline-block">{{ collection.title }}</span>
      </h6>
    </a>
  </div>
</div>
