{%- liquid
  assign a = 'demo'
  if image_ratio == 'square'
    assign ratio = 'pt-[120%]'
  else
    assign ratio = 'pt-[100%]'
  endif
-%}

<div class="pro-item card-{{ image_ratio }}" data-handle="{{ product.handle }}" data-id="{{ product.id }}">
  <div class="relative">
    {%- if product.available == false -%}
      <span id="{{ product.id }}" class="badge badge--bottom-left"> sold out </span>
    {%- elsif product.compare_at_price > product.price and product.available -%}
      <span id="{{ product.id }}" class="badge badge--bottom-left"> sale </span>
    {%- endif -%}
    <div class="thumbnail relative {{ratio}}">
      <img
        srcset="
          {%- if product.featured_media.width >= 165 -%}{{ product.featured_media | image_url: width: 165 }} 165w,{%- endif -%}
          {%- if product.featured_media.width >= 360 -%}{{ product.featured_media | image_url: width: 360 }} 360w,{%- endif -%}
          {%- if product.featured_media.width >= 533 -%}{{ product.featured_media | image_url: width: 533 }} 533w,{%- endif -%}
          {%- if product.featured_media.width >= 720 -%}{{ product.featured_media | image_url: width: 720 }} 720w,{%- endif -%}
          {%- if product.featured_media.width >= 940 -%}{{ product.featured_media | image_url: width: 940 }} 940w,{%- endif -%}
          {%- if product.featured_media.width >= 1066 -%}{{ product.featured_media | image_url: width: 1066 }} 1066w,{%- endif -%}
          {{ product.featured_media | image_url }} {{ product.featured_media.width }}w
        "
        src="{{ product.featured_media | image_url: width: 533 }}"
        sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
        alt="{{ product.featured_media.alt | escape }}"
        class="absolute top-0 left-0 h-full w-full object-cover"
        loading="lazy"
        width="{{ product.featured_media.width }}"
        height="{{ product.featured_media.height }}"
      >

      <div class="button-group absolute top-0 left-0 w-auto h-full bg-overlay">
        <button
          class="wishlist_button lp_btn"
          data-id="{{ product.id }}"
          data-toggle="tooltip"
          data-placement="top"
          title="Wishlist"
        >
          {% render 'icon-wishlist' %}
          {% render 'icon-loading' %}
        </button>

        {%- if show_quick_view -%}
          <button
            class="quick-view-button lp_btn"
            data-product-slug="{{ product.handle }}"
            data-id="{{ product.id }}"
            rel="nofollow"
            data-toggle="tooltip"
            data-placement="top"
            title="Quick view"
          >
            {%- render 'icon-search' -%}
            {% render 'icon-loading' %}
          </button>
        {%- endif -%}

        {%- if show_compare -%}
          <button
            class="compare-button lp_btn"
            data-product-slug="{{ product.handle }}"
            data-id="{{ product.id }}"
            rel="nofollow"
            data-toggle="tooltip"
            data-placement="top"
            title="Compare"
          >
            {% render 'icon-wishlist' %}
            {% render 'icon-loading' %}
          </button>
        {%- endif -%}

        {%- if product.available == true -%}
          {% if product.variants.size > 1 %}
            <a
              href="{{ product.url }}"
              data-product-id="{{ product.id }}"
              data-variant-id="{{ product.variants.first.id }}"
              class="add_quick_shop lp_btn"
              data-toggle="tooltip"
              data-placement="top"
              title="Quick shop"
            >
              {% render 'icon-cart' %}
              {% render 'icon-loading' %}
              Quick shop
            </a>
          {% else %}
            <a
              href="{{ product.url }}"
              data-product-id="{{ product.id }}"
              data-variant-id="{{ product.variants.first.id }}"
              class="add_to_cart d-inline-flex lp_btn"
              data-toggle="tooltip"
              data-placement="top"
              title="Add to cart"
            >
              {% render 'icon-cart' %}
              {% render 'icon-loading' %}
              Add to cart
            </a>
          {% endif %}
        {% endif %}
      </div>
    </div>
    <div class="card-meta">
      {%- if show_vendor -%}
        <div class="text-[#cfcece] capitalize py-2">
          {{ product.vendor }}
        </div>
      {%- endif -%}
      <h3>
        <a href="{{ product.url }}">{{ product.title }}</a>
      </h3>

      {%- render 'price', product: product -%}

      {%- liquid
        if show_variant
          render 'content-variants', product: product;
        endif
      -%}
    </div>
  </div>
</div>
