<div class="product-collection__price ">
  {%- if product.price_varies -%}
    <span class="price"
      ><span>{{ product.price_min | money }} – {{ product.price_max | money }}</span></span
    >
  {%- else -%}
    {%- if product.compare_at_price > product.price -%}
      <span class="price price--sale">
        <ins class="current">{{ product.price | money }}</ins>
        <del class="compare">{{ product.compare_at_price | money }}</del>
      </span>
    {%- else -%}
      <span class="price"
        ><ins>{{ product.price | money }}</ins></span
      >
    {%- endif -%}
  {%- endif -%}
</div>
