<div class="product-share cursor-pointer" data-bs-toggle="modal" data-bs-target="#exampleModal">
  <div class="flex items-center justify-end gap-2 ">{%- render 'icon-share' -%} Share</div>
</div>

<div class="share-popup modal fade " id="exampleModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Copylink</h4>
        <button type="button" class="close btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="bg-white p-3">
          <div class="flex gap-1">
            <div class="border p-2 overflow-hidden text-copy">
              {{ shop.url }}{{ product.url }}
            </div>
            <button class="flex items-center justify-center border btn-copy" data-url="{{ product.url }}" data-bs-toggle="popover" data-bs-placement="top" title="Copied">
              {%  render 'icon-clipboard' %}
            </button>
          </div>
          <div class="laber-social-sharing socials clearfix">
            <label>Share:</label>
            <ul>
              <li class="linkedin">
                <a rel="noopener noreferrer nofollow" title="Share on linkedin"
                  href="//linkedin.com/sharing/share-offsite/?url={{ shop.url }}{{ product.url }}" target="_blank"
                  class="linkedin alo_tooltip">
                  <span class="alo_tooltip-content">Share on linkedin</span>
                  <svg xmlns="http://www.w3.org/2000/svg" height="1em"
                    viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. -->
                    <path
                      d="M100.28 448H7.4V148.9h92.88zM53.79 108.1C24.09 108.1 0 83.5 0 53.8a53.79 53.79 0 0 1 107.58 0c0 29.7-24.1 54.3-53.79 54.3zM447.9 448h-92.68V302.4c0-34.7-.7-79.2-48.29-79.2-48.29 0-55.69 37.7-55.69 76.7V448h-92.78V148.9h89.08v40.8h1.3c12.4-23.5 42.69-48.3 87.88-48.3 94 0 111.28 61.9 111.28 142.3V448z">
                    </path>
                  </svg>
                </a>
              </li>
          
              <li class="facebook">
                <a rel="noopener noreferrer nofollow" title="Share on Facebook"
                  href="https://www.facebook.com/sharer/sharer.php?u={{ shop.url }}{{ product.url }}" target="_blank"
                  class="facebook alo_tooltip">
                  <span class="alo_tooltip-content">Share on Facebook</span>
                  <i class="fa fa-facebook-f"></i>
                </a>
              </li>
          
              <li class="twitter">
                <a rel="noopener noreferrer nofollow" title="Share on twitter"
                  href="http://twitter.com/share?text=Apple%20iPad%20Air%204%2010.9-inch%20Wi-Fi%20256GB&amp;url={{ shop.url }}{{ product.url }}"
                  target="_blank" class="twitter alo_tooltip">
                  <span class="alo_tooltip-content">Share on twitter</span>
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
          
              <li class="email">
                <a rel="noopener noreferrer nofollow" title="Share on email"
                  href="mailto:?subject=Check this {{ shop.url }}{{ product.url }}" target="_blank" class="email alo_tooltip"><span class="alo_tooltip-content">Share on email</span>
                  <i class="fa fa-envelope"></i>
                </a>
              </li>
          
              <li class="pinterest">
                <a rel="noopener noreferrer nofollow" title="Share on pinterest"
                  href="http://pinterest.com/pin/create/button/?url={{ shop.url }}{{ product.url }}&amp;media=http://demo-morata.myshopify.com/cdn/shop/products/products_3_1_1024x1024.jpg?v=1697644630&amp;description=Apple%20iPad%20Air%204%2010.9-inch%20Wi-Fi%20256GB"
                  target="_blank" class="pinterest alo_tooltip">
                  <span class="alo_tooltip-content">Share on pinterest</span>
                  <i class="fa fa-pinterest"></i>
                </a>
              </li>
          
              <li class="tumblr">
                <a rel="noopener noreferrer nofollow" title="Share on tumblr"
                  data-content="http://demo-morata.myshopify.com/cdn/shop/products/products_3_1_1024x1024.jpg?v=1697644630"
                  href="//tumblr.com/widgets/share/tool?canonicalUrl={{ shop.url }}{{ product.url }}" target="_blank"
                  class="tumblr alo_tooltip">
                  <span class="alo_tooltip-content">Share on tumblr</span>
                  <i class="fa fa-tumblr"></i>
                </a>
              </li>
          
              <li class="telegram">
                <a rel="nofollow" title="Share on telegram" target="_blank" class="telegram alo_tooltip"
                  href="https://telegram.me/share/url?url={{ shop.url }}{{ product.url }}">
                  <span class="alo_tooltip-content">Share on telegram</span>
                  <i class="fa fa-telegram"></i>
                </a>
              </li>
          
              <li class="whatsapp">
                <a rel="nofollow" title="Share on whatsapp" target="_blank" class="whatsapp alo_tooltip"
                  href="https://wa.me/?text=Apple%20iPad%20Air%204%2010.9-inch%20Wi-Fi%20256GB {{ shop.url }}{{ product.url }}">
                  <span class="alo_tooltip-content">Share on whatsapp</span>
                  <i class="fa fa-whatsapp"></i>
                </a>
              </li>
            </ul>
          
          </div>
          
        </div>
      </div>
    </div>
  </div>

</div>

<style>
  .text-copy{
          height: 40px;
  overflow: hidden;
  }
  .share-popup .btn-copy{
      height: 40px;
      width: 40px;
      border-radius: 4px;
  }
  .share-popup .modal-dialog >div{
      border-radius: 4px;
  }
</style>

<script>
  const btnCopy = document.querySelector('.btn-copy');

  btnCopy.addEventListener('click', function (e) {
      const link = e.target.getAttribute('data-url'); // Get the link from the data attribute
      navigator.clipboard.writeText(link).then(() => {
          console.log('Link copied:', link);
      }).catch(err => {
          console.error('Error copying the link:', err);
      });
  });
</script>