<!doctype html>
<html class="js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon != blank -%}
      <link rel="shortcut icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
    {%- endif -%}

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    {{ content_for_header }}

  
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap" rel="stylesheet">

    {% style %}
      :root {
        --blue-light: #00a6fb; /* Màu xanh dương nhạt */
        --blue-medium: #0582ca; /* Màu xanh dương trung bình */
        --blue-dark: #006494; /* Màu xanh dương đậm */
        --blue-deep: #003554; /* Màu xanh rất đậm, gần xanh đen */
        --blackish-blue: #051923; /* Màu đen xanh */
        --color-bg-boby: {{ settings.bg_body }};
        --color-bg-header: {{ settings.bg_header }};
        --color-text-header: {{ settings.text_header }};
        --color-bg-footer: {{ settings.bg_footer }};


        --btn-text: {{ settings.color_btn_text }};
        --btn-bg: {{ settings.color_btn }};
        --btn-text-hover: {{ settings.color_btn_text_hover }};
        --btn-bg-hover: {{ settings.color_btn_hover }};
        --btn-spacing: {{ settings.btn_spacing_desktop }};
        --btn-radius: {{ settings.btn_radius_desktop }};
      }
    {% endstyle %}

    {{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}

    {{ 'style.css' | asset_url | stylesheet_tag }}


    <link rel="stylesheet" href="{{ 'main.css' | asset_url }}" type="text/css" onload="this.media='all'">

    {{ 'jquery.min.js' | asset_url | script_tag }}

    <script>
      const titleChanger = {
        messages: ["🔥 Don't forget this...", '⚡ Come Back Now'],
        delay: 1000,
        titleTag: document.getElementsByTagName('title')[0],
        originalTitle: '',
        isSingle: false,
        isActive: false,
        timer: null,

        init() {
          if (!this.titleTag) return;

          this.originalTitle = this.titleTag.innerText;
          this.isSingle = this.messages.length < 2;

          document.addEventListener('visibilitychange', () => {
            if (document.visibilityState === 'visible') {
              this.handleVisible();
            } else {
              this.handleHidden();
            }
          });
        },

        handleVisible() {
          if (!this.isActive) return;

          clearInterval(this.timer);
          this.titleTag.innerText = this.originalTitle;
          this.isActive = false;
        },

        handleHidden() {
          if (this.isActive) return;

          let index = 0;
          this.isActive = true;
          this.titleTag.innerText = this.messages[index];

          if (this.isSingle) return;

          this.timer = setInterval(() => {
            index = (index + 1) % this.messages.length;
            this.titleTag.innerText = this.messages[index];
          }, this.delay);
        },
      };

      titleChanger.init();
    </script>
  </head>

  <body class="">
    <!-- header -->
    {% sections 'header-group' %}
    <!-- end header -->

    <main class="content-for-layout">
      {{ content_for_layout }}
    </main>
    <!-- content-for-layout -->

    <!-- footer -->
    {% sections 'footer-group' %}
    <!-- end footer -->

    <!-- back to top -->
    {% render 'back-to-top' %}
    <!-- end back to top -->

    <!-- start cart drawer -->
    {% render 'cart-drawer' %}
    <!-- end cart drawer -->

    {% comment %} fancybox {% endcomment %}
    {{ 'jquery.fancybox.min.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'jquery.fancybox.min.js' | asset_url }}" defer></script>

    {% comment %} bootstrap {% endcomment %}
    <script src="{{ 'popper.min.js' | asset_url }}" defer></script>
    <script src="{{ 'bootstrap.min.js' | asset_url }}" defer></script>

    {% comment %} main {% endcomment %}
    <script src="{{ 'main.js' | asset_url }}" defer></script>

    {% comment %} wishlist {% endcomment %}
    <script src="{{ 'wishlist.js' | asset_url }}" defer></script>

    {% comment %} cart {% endcomment %}
    {{ 'cart.js' | asset_url | script_tag }}

    <script>
      document.addEventListener('DOMContentLoaded', function () {});

      window.LPSettings = {
        pleaseChooseOptions: `Please select some product options before adding this product to your cart.`,
        addToCart: `Add to cart`,
        selectOption: `Select options`,
        quickShop: `Quick Shop`,
        soldOut: `Out of stock`,
        readMore: `Read more`,
        preOrder: `Pre-order`,
        preView: `View products`,
        unavailable: `Unavailable`,
        replace_qs_atc: `Replace item`,
        replace_qs_pre: `Replace item`,
        badgeNew: `New`,
        badgeSale: `Sale`,
        badgepreOrder: `Pre order`,
        badgeSoldout: `Sold out`,
        badgeSavePercent: `-[sale]%`,
        badgeSaveFixed: `-[sale]`,
        badgeSavePercent2: `SAVE [sale]%`,
        badgeSaveFixed2: `SAVE [sale]`,
        swatch_limit: `Show More Colors`,
        swatch_limit_less: `Show Less Colors`,
        compare: `Compare`,
        added_text_cp: `Compare products`,
        add_to_wishlist: `Add to Wishlist`,
        remove_wishlist: `Remove Wishlist`,
        browse_wishlist: `Browse Wishlist`,
        order_dayNames: 'Sunday,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday',
        order_monthNames: 'January,February,March,April,May,June,July,August,September,October,November,December',
      };
    </script>
  </body>
</html>
