{% comment %}
  {%- if section.settings.text_scheme -%}
    <div class="heading">
      {{- section.settings.text_scheme -}}
    </div>
  {%- endif -%}
{% endcomment %}

{{ 'slick.min.js' | asset_url | script_tag }}
{{ 'slick.css' | asset_url | stylesheet_tag }}

{% style %}
  .announcement-group{
    text-align: center;
    background-color: {{ section.settings.background_color }}; }
  .announcement-group a{
    padding: 15px 0px;
    color:{{ section.settings.text_color }};
    display: block;
  }
{% endstyle %}

<div class="announcement-group">
  {% for block in section.blocks %}
    <div class="announcement-block" id="{{ block.id }}">
      <a href="{{ block.settings.link }}" class="text-red no-underline">{{ block.settings.text }}</a>
    </div>
  {% endfor %}
</div>
{% schema %}
{
  "name": "Announcement",
  "enabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background color",
      "default": "#000"
    },
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Text",
          "label": "Text"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Announcement"
    }
  ]
}
{% endschema %}
