{%- liquid
  assign se = section.settings
  assign copyright = se.copyright
  assign blocks = section.blocks
-%}

<style>
  .footer{
    padding-top: {{ se.our_ser_padding_top }}px;
    padding-bottom: {{ se.our_ser_padding_bottom  }}px;
    background-color: {{ se.background_color }};
    color: {{ se.text_color }}
  }

  footer .widget_title{
    color: {{ se.title_color }}
  }

  @media (max-width: 991px){
    .footer{
      padding-top: {{ se.our_ser_padding_top_ip }}px;
      padding-bottom: {{ se.our_ser_padding_bottom_ip  }}px;
    }
  }
  @media (max-width: 767px){
    .footer{
      padding-top: {{ se.our_ser_padding_top_xs }}px;
      padding-bottom: {{ se.our_ser_padding_bottom_xs  }}px;
    }
  }
</style>

<footer class="footer">
  <div class="container">
    <div class="row">
      {% for block in blocks %}
        {%- liquid
          assign item = block.settings
        -%}

        {% case item.column_xs %}
          {% when '1' %}
            {% assign column_xs = '12' %}
          {% when '2' %}
            {% assign column_xs = '6' %}
          {% else %}
            {% assign column_xs = item.column_xs %}
        {% endcase %}

        {% case block.type %}
          {% when 'col1' %}
            <div class="col-lg-{{ item.column_lg }}  col-md-{{ item.column_sm }} col-{{ column_xs }} mb-5 mb-sm-0">
              <div class="widget widget-info">
                <div class="widget_title mb-4">
                  <!-- {{ item.headline }} -->
                </div>
                <div class="widget_content">
                  {% if item.image %}
                    <div class="image mb-4">
                      {{ item.image | img_url | img_tag }}
                    </div>
                  {% endif %}
                  <div class="text">
                    {{ item.content }}
                  </div>
                </div>
              </div>
            </div>

          {% when 'newsletter' %}
            <div class="col-lg-{{ item.column_lg }}  col-md-{{ item.column_sm }} col-{{ column_xs }} mb-5 mb-sm-0">
              <div class="widget widget-newslette">
                <div class="widget_title mb-4">
                  {{ item.headline }}
                </div>
                <div class="widget_content">
                  <div class="mb-3">
                    {{ item.content }}
                  </div>
                  {% form 'customer' %}
                    <div class="field relative flex overflow-hidden bg-white">
                      <input
                        class="field__input input-text"
                        autocomplete="off"
                        type="email"
                        id="customer-email"
                        name="customer[email]"
                        placeholder="Email"
                      >
                      <button type="submit" class="btn-submit">Submit</button>
                    </div>
                  {% endform %}
                </div>
              </div>
            </div>
          {% when 'link' %}
            <div class="col-lg-{{ item.column_lg }} col-md-{{ item.column_sm }} col-{{ column_xs }} mb-5 mb-sm-0">
              <div class="widget links">
                <div class="widget_title mb-4">
                  {{ item.headline }}
                </div>
                <div class="widget_content">
                  {% render 'nav', linkCurrent: block.settings.link_list %}
                </div>
              </div>
            </div>
        {% endcase %}
      {% endfor %}
    </div>
  </div>

  {% if copyright %}
    <div class="copyright pt-2">
      <div class="container">
        {{ copyright }}
      </div>
    </div>
  {% endif %}
</footer>

<div id="quick-editcart-modal" class="quick-editcart-modal" style="display:none"></div>

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "type": "richtext",
      "id": "copyright",
      "label": "Copyright"
    },
    {
      "type": "paragraph",
      "content": "Desktop / Laptop / tablet"
    },
    {
      "type": "range",
      "id": "our_ser_padding_top",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 100
    },
    {
      "type": "range",
      "id": "our_ser_padding_bottom",
      "label": "Section Padding bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 0
    },
    {
      "type": "paragraph",
      "content": "Ipad pro / Ipad"
    },
    {
      "type": "range",
      "id": "our_ser_padding_top_ip",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 80
    },
    {
      "type": "range",
      "id": "our_ser_padding_bottom_ip",
      "label": "Section Padding bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 0
    },
    {
      "type": "paragraph",
      "content": "Mobile"
    },
    {
      "type": "range",
      "id": "our_ser_padding_top_xs",
      "label": "Section Padding Top",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 60
    },
    {
      "type": "range",
      "id": "our_ser_padding_bottom_xs",
      "label": "Section Padding bottom",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 0
    },
    {
      "type": "header",
      "content": "Style"
    },
    {
      "type": "color",
      "id": "title_color",
      "label": "Title Color",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#fff"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Backgrounf Color",
      "default": "#263c97"
    }
  ],
  "blocks": [
    {
      "type": "col1",
      "name": "Column 1",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "select",
          "id": "column_lg",
          "label": "Column Desktop",
          "options": [
            {
              "label": "1",
              "value": "1"
            },
            {
              "label": "2",
              "value": "2"
            },
            {
              "label": "3",
              "value": "3"
            },
            {
              "label": "4",
              "value": "4"
            },
            {
              "label": "5",
              "value": "5"
            },
            {
              "label": "6",
              "value": "6"
            }
          ]
        },
        {
          "type": "select",
          "id": "column_sm",
          "label": "Column Tablet/ Ipad",
          "options": [
            {
              "label": "1",
              "value": "1"
            },
            {
              "label": "2",
              "value": "2"
            },
            {
              "label": "3",
              "value": "3"
            },
            {
              "label": "4",
              "value": "4"
            },
            {
              "label": "5",
              "value": "5"
            },
            {
              "label": "6",
              "value": "6"
            }
          ]
        },
        {
          "type": "select",
          "id": "column_xs",
          "label": "Column Mobile",
          "options": [
            {
              "label": "1",
              "value": "1"
            },
            {
              "label": "2",
              "value": "2"
            },
            {
              "label": "3",
              "value": "3"
            },
            {
              "label": "4",
              "value": "4"
            },
            {
              "label": "5",
              "value": "5"
            },
            {
              "label": "6",
              "value": "6"
            }
          ]
        }
      ]
    },
    {
      "type": "newsletter",
      "name": "Newsletter",
      "settings": [
        {
          "type": "text",
          "id": "headline",
          "label": "Headline"
        },
        {
          "type": "textarea",
          "id": "content",
          "label": "Content"
        },
        {
          "type": "select",
          "id": "column_lg",
          "label": "Column Desktop",
          "options": [
            {
              "label": "1",
              "value": "1"
            },
            {
              "label": "2",
              "value": "2"
            },
            {
              "label": "3",
              "value": "3"
            },
            {
              "label": "4",
              "value": "4"
            },
            {
              "label": "5",
              "value": "5"
            },
            {
              "label": "6",
              "value": "6"
            }
          ]
        },
        {
          "type": "select",
          "id": "column_sm",
          "label": "Column Tablet/ Ipad",
          "options": [
            {
              "label": "1",
              "value": "1"
            },
            {
              "label": "2",
              "value": "2"
            },
            {
              "label": "3",
              "value": "3"
            },
            {
              "label": "4",
              "value": "4"
            },
            {
              "label": "5",
              "value": "5"
            },
            {
              "label": "6",
              "value": "6"
            }
          ]
        },
        {
          "type": "select",
          "id": "column_xs",
          "label": "Column Mobile",
          "options": [
            {
              "label": "1",
              "value": "1"
            },
            {
              "label": "2",
              "value": "2"
            },
            {
              "label": "3",
              "value": "3"
            },
            {
              "label": "4",
              "value": "4"
            },
            {
              "label": "5",
              "value": "5"
            },
            {
              "label": "6",
              "value": "6"
            }
          ]
        }
      ]
    },
    {
      "type": "link",
      "name": "Link",
      "settings": [
        {
          "type": "text",
          "id": "headline",
          "label": "Headline"
        },
        {
          "type": "link_list",
          "id": "link_list",
          "label": "Navigation"
        },
        {
          "type": "select",
          "id": "column_lg",
          "label": "Column Desktop",
          "options": [
            {
              "label": "1",
              "value": "1"
            },
            {
              "label": "2",
              "value": "2"
            },
            {
              "label": "3",
              "value": "3"
            },
            {
              "label": "4",
              "value": "4"
            },
            {
              "label": "5",
              "value": "5"
            },
            {
              "label": "6",
              "value": "6"
            }
          ]
        },
        {
          "type": "select",
          "id": "column_sm",
          "label": "Column Tablet/ Ipad",
          "options": [
            {
              "label": "1",
              "value": "1"
            },
            {
              "label": "2",
              "value": "2"
            },
            {
              "label": "3",
              "value": "3"
            },
            {
              "label": "4",
              "value": "4"
            },
            {
              "label": "5",
              "value": "5"
            },
            {
              "label": "6",
              "value": "6"
            }
          ]
        },
        {
          "type": "select",
          "id": "column_xs",
          "label": "Column Mobile",
          "options": [
            {
              "label": "1",
              "value": "1"
            },
            {
              "label": "2",
              "value": "2"
            },
            {
              "label": "3",
              "value": "3"
            },
            {
              "label": "4",
              "value": "4"
            },
            {
              "label": "5",
              "value": "5"
            },
            {
              "label": "6",
              "value": "6"
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
