<div class="container">
  {% if product %}
    <div class="product">

      <div class="row">
        <div class="col-md-7">
          <!-- Hình ảnh sản phẩm -->
          <div class="product-images">
            {%- render 'product-media', product: product -%}
          </div>
        </div>
        <div class="col-md-5">

        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when '@app' -%}
            {% render block %}
            {% when 'text' %}
              {{ block.settings.text }}
            {% when 'title' %}
              <h1 class="product-title">{{ product.title }}</h1>
            {% when 'price' %}
              {% render 'price', product: product %}
            {% when 'varient' %}
              <form method="post" action="/cart/add">
                {% if product.variants.size > 1 %}
                  <variant-selects id="variant-selects-{{ section.id }}" data-section="{{ section.id }}" {{ block.shopify_attributes }}>
                    {%- for option in product.options_with_values -%}
                    
                      <fieldset class="js product-form__input product-form__input--swatch">
                        <legend class="form__label">
                          {{ option.name }}:
                          <span data-selected-value>
                            {{- option.selected_value -}}
                          </span>
                        </legend>
                    
                        {% render 'product-variant-options', product: product, option: option %}
                      </fieldset>
                    {%- endfor -%}
                  
                    <script type="application/json" data-selected-variant>
                      {{ product.selected_or_first_available_variant | json }}
                    </script>
                  </variant-selects>
                {% else %}
                  <input type="hidden" name="id" value="{{ product.variants.first.id }}">
                {% endif %}
                <button type="submit" class="lp-btn overflow-hidden relative">
                  Add to Cart
                  {%  render 'icon-loading' %}
                  </button>
              </form>
                        
            {% when 'share' %}
              {% render 'share' %}
          {% endcase %}
        {% endfor %}

        <script class="data-json-options" type="application/json">
          {{product.options_with_values | json}}
        </script>
                
        </div>
      </div>
        
    </div>
  {% else %}
    <div>Sorry, this product does not exist.</div>
  {% endif %}

  <script type="application/ld+json">
    {{ product | structured_data }}
  </script>
</div>

{% schema %}
{
  "name": "Product infomation",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "text",
      "name": "Text demo",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "label": "Text"
        }
      ]
    },
    {
      "type": "title",
      "name": "title",
      "limit": 1
    },
    {
      "type": "price",
      "name": "Price",
      "limit": 1
    },
    {
      "type": "varient",
      "name": "Varient",
      "limit": 1
    },
    {
      "type": "share",
      "name": "Share",
      "limit": 1
    }
  ],
  "settings": [{
    "type": "checkbox",
    "id": "enable_sticky_info",
    "default": true,
    "label": "Enable sticky"
    }
  ],
  "presets": [{
    "name": "Product Main"
  }]
}
{% endschema %}